*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  font-family: 'Raleway', sans-serif;
}

.navbar, .nav-default{
  background-color: #3399ff;
  border-color: #2069b1;
}

.nav > li {
  position: relative;
  display: block;
  text-align: center;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
  background-color: #3399ff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #3399ff;
  background-color: #FFFFFF;
}


    .animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .navbar-fixed-left {
    position: fixed;
    top: auto;
    left: 0%;
    border-radius: 0px;
  }

  .navbar-minimal {
    width: 60px;    
    min-height: 60px;
    max-height: 100%;
    background-color: transparent;
    border-width: 0px;
    z-index: 1000;
  }

  .navbar-minimal > .navbar-toggler {
    position: relative;
    min-height: 60px;
    z-index: 100;
    cursor: pointer;
  }

  .navbar-minimal.open > .navbar-toggler,
  .navbar-minimal > .navbar-toggler:hover {
    background-color: #3399ff;
  }

  .navbar-minimal > .navbar-toggler > span {
    position: absolute;
    top: 25%;
    right: 25%;
    width: 30px;
    height: 30px;
    background-image: url(../images/logotipo-menu.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-transition: -webkit-transform .3s ease-out 0s;
    -moz-transition: -moz-transform .3s ease-out 0s;
    -o-transition: -moz-transform .3s ease-out 0s;
    -ms-transition: -ms-transform .3s ease-out 0s;
    transition: transform .3s ease-out 0s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .navbar-minimal > .navbar-menu {
    position: absolute;
    top: -1000px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    z-index: 50;
    background-color: rgb(51, 51, 51);
    background-color: rgba(51, 51, 51, 0.8);
  }
  .navbar-minimal > .navbar-menu > li {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    height: 54px;
  }
  .navbar-minimal > .navbar-menu > li > a {
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 20px 23px;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid rgb(81, 81, 81);
    width: 100%;
    text-decoration: none;
    margin: 0px;
  }

  .navbar-minimal > .navbar-menu > li > a:last-child {
    border-bottom-width: 0px;
  }
  .navbar-minimal > .navbar-menu > li > a:hover {
    background-color: #3399ff;
  }
  .navbar-minimal > .navbar-menu > li > a > .glyphicon {
    float: right;
  }

  .navbar-minimal.open {
    width: 320px;
  }

  .navbar-minimal.open > .navbar-toggler > span {
    background-position:0 -3px;
    -webkit-transform: rotate(-720deg);
    -moz-transform: rotate(-720deg);
    -o-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }

  .navbar-minimal.open > .navbar-menu {
    top: 60px;
    width: 100%;
    min-height: 100%;
  }

  @media (min-width: 768px) {
    .navbar-minimal.open {
      width: 60px;
    }
    .navbar-minimal.open > .navbar-menu {
      overflow: visible;
    }
    .navbar-minimal > .navbar-menu > li > a > .desc {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 130px;
      margin-top: -20px;
      margin-left: 20px;
      text-align: left;
      white-space: nowrap;
      padding: 10px 13px;
      border-width: 0px !important;
      background-color: rgb(51, 51, 51);
      opacity: 0;
    }
    .navbar-minimal > .navbar-menu > li > a > .desc:after {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: -10px;
      margin-top: -10px;
      content:'';
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;  
      border-right: 10px solid rgb(51, 51, 51);
      border-right-color: rgba(51, 51, 51, 0.8);
    }
    .navbar-minimal > .navbar-menu > li > a:hover > .desc {
      left: 60px;
      opacity: 1;
    }
  }


.main-home{
  background: url("../images/main-backgroundv2.jpg") no-repeat;
  background-attachment: fixed;
  height: auto;
  min-height: 710px;
  text-align: center;
  background-size: cover;
  position: relative;
  color: #7f9eb2;
}


.space-main{
  padding-top: 20%;
}

.space{
  padding-top: 40px;
}

.space-margin{
  margin-bottom: 2%;
}

.section-title hr{
  text-align:center;
  margin: 0 auto;
  padding: 15px;
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
  color: #2069b1;
}

hr {
  width: 50px;
  border-color: #2069b1;
}

ul, ol{
  padding: 0;
  moz-padding: 0;
  webkit-padding: 0;
}

a {color: #222222}
a:hover,
a:focus{
  color: #c59a6d;
  text-decoration: none;
}

a.down-btn span.fa.fa-angle-down {
  font-size: 26px;
  border: 1px solid #2069b1;
  border-radius: 2px;
  padding: 7px 5px;
  position: relative;
  cursor: pointer;
  color: #2069b1;
  margin-top: 30px;
}

.header-text.btn{
  border: 2px solid #ffffff;
  border-radius: 0;
  padding: 5% 3%;
  margin: 5% 1%;
}

.header-text.btn:hover{
  color: inherit;
}

.header-text.btn:focus, 
.header-text.btn:active:focus, 
.header-text.btn.active:focus, 
.header-text.btn.focus, 
.header-text.btn:active.focus, 
.header-text.btn.active.focus {
  outline: thin dotted transparent;
  outline: none;
  outline-offset: -2px;
}

#s-about-me{
  background-color: #0A0618;
  color: #FFFFFF;
}

#s-about-me .title-about-me{
  color: #FFFFFF;
  font-size: 3.2em;
  text-transform: uppercase;
} 

#meet-me{
  padding: 60px 0;
}

.info-me{
  font-size: 20px;
  padding: 0% 4%;
}

.box-typed{
  width: 100%;
  height: 50px;
}

.caracter-me{
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 3px 3px #000000;
  opacity: 0.8;
  color: #ffffff;
  white-space: pre-wrap;
}


#separador-about-me{
  width: 100%;
  height: 3em;
  background: url(../images/separador1.svg) repeat-x top center;
  background-size: auto;
  z-index: 1;
  position: relative;
}  


/* #overview-video{
  background: url(../images/background-video.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.overlay{
  background: rgba(34, 34, 34, 0.85);
  height: auto;
  min-height: 480px;
  padding: 12% 0 ;
}

#overview-video a span.fa.fa-play{
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin: auto 0;
  padding: 15% 0;
} */

.vimeo-video {
    text-align: center;
}

.hover-bg .hover-text {
  height: 75%;
}

#s-skill{
  background: radial-gradient(circle, rgba(255,255,255,0.9), rgba(218, 219, 221,0.9));
  margin-top: -3em; 
  margin-bottom: -3em;      
}

#s-skill .title-skill{
  color: #000000;
  font-size: 2.8em;
  padding-top: 10%;  
  text-transform: uppercase;
}

/* #s-skill .about-text span{
  text-align: center;
  font-size: medium;
}

.div-skills {
  padding: 70px 0;
  font-size: 1.3em;
}
 */

.div-skills {
    padding-bottom: 10%;
}

#separator-skills {
    width: 100%;
    height: 3em;
    background: url(../images/separador2.svg) no-repeat top center;
    background-size: cover;
    z-index: 1;
    position: relative;
    margin-top: -3em;
}  


.skill-type{
  font-size: 1.5em;
  text-align: center;
  color: #2069b1;
}

.skill-type hr{
  text-align:center;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 1.6em;
  width: 100%;
  background: rgba(193,193,193,0.7);
  height: 2.7em;
  border-radius: 3px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skill-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 7em;
  font-weight: bold;
  font-size: 1em;
  color: #ffffff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
}

.skill-name span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  height: 2.7em;
  line-height: 2.7em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillBarra {
  height: 2.7em;
  background: #6adcfa;
  border-radius: 3px;
}

.progress{
  background-color: rgba(193,193,193,0.7);
}

.progress-bar-color-html {
  background-color: rgb(230, 126, 34);
}

.progress-bar-color-css {
  background-color: rgb(41, 169, 223);
}

.progress-bar-color-javascript {
  background-color: rgb(218, 195, 83);
}

.progress-bar-color-bootstrap {
  background-color: rgb(226, 73, 77);
}

.progress-bar-color-jquery {
  background-color: rgb(29, 153, 190);
}

.progress-bar-color-premiere {
  background-color: rgb(67, 80, 158);
}

.progress-bar-color-ae{
  background-color: rgb(154, 160, 198);
}

.progress-bar-color-illustrator {
  background-color: rgb(255, 144, 71);
}

.progress-bar-color-photoshop{
  background-color: rgb(14, 93, 140);
}

#s-projects{
  background-color: #2F527A;
}

.div-projects .section-title .title-projects{
  font-size: 2.5em;
  text-align: center;
  padding-top: 6%;
  color: #FFFFFF;
}

.project-type{
  font-size: 1.5em;
  text-align: center;
  color: #FFFFFF;
}

.project-type hr{
  text-align:center;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  border-color: #FFFFFF;  
}

.portfolio-item .hover-bg{
  height: auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 10%;
}

.hover-bg .hover-text {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30% 0;
  opacity: 0;
  transition: all 0.8s;
  text-align: center;
  background: rgba(0, 0, 0, 0.66);
  color: #ffffff;
}

.hover-bg:hover .hover-text{
  opacity: 1;
}

#s-random {
  background: url("../images/bg-contact.jpg") no-repeat;
  background-attachment: fixed;
  height: 350px;
  background-size: cover;
  margin-bottom: -4em;  
}

#separator-contact{
  width: 100%;
  height: 4em;
  background: url(../images/separador3.svg) no-repeat top center;
  background-size: cover;
  z-index: 1;
  position: relative;
  margin-top: -4em;
}

#s-contact .title-contact{
  color: #FFFFFF;
  font-size: 2.8em;
  padding-top: 5%;  
  text-transform: uppercase;
}

#s-contact {
  background-color: #031427;
  color: #FFFFFF;
  text-align: center;
  height: auto;
}

#s-contact a {
  color: #0c0d0d; 
}

#s-contact button a {
  color: #031427; 
}

.social-media li a span{
  font-size: 50px;
  color: #FFFFFF;
}

.social-media li a span:hover {
  color: #2069b1;
}

.margin-bottom{
  margin-bottom: 8%;
}


/*Type Writer*/
.typed-cursor{
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.9s infinite;
  -moz-animation: blink 0.9s infinite;
  -ms-animation: blink 0.9s infinite;
  -o-animation: blink 0.9s infinite;
  animation: blink 0.9s infinite;
}
  @-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }